# API Keys and Secrets
.env
credentials.json
token.json

# Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
.vscode/

# Local Storage (Allison's plans)
saved_plans/
app.db
database/

# Zips
*.zip
